/* Common styles for both light and dark modes */
body {
  color: #f8f3f3; /* Set text color for light mode */
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: inherit;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

/* Light mode styles */
body:not(.dark-mode) {
  background: rgb(75, 4, 5); /* Set initial background color for light mode */
}

body:not(.dark-mode)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(75, 4, 5, 1) 24%, rgba(159, 18, 0, 1) 55%, rgba(217, 34, 0, 1) 85%, rgba(246, 113, 88, 1) 100%);
}

body:not(.dark-mode) .navbar {
  background: transparent !important;
}

body:not(.dark-mode) .navbar-light .navbar {
  background: rgba(75, 4, 5, 1) !important;
}

/* Dark mode styles */
body.dark-mode {
  background: #0f1113 !important;
}

.navbar-dark .navbar {
  background: #0f1113 !important;
}

/* Navbar links styles for both modes */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #fcf4f4 !important;
  font-size: 16px;
  font-weight: normal;
}

.navbar-toggler-icon {
  background-color: #f7f4f4;
}

/* Sign In button styles */
#signInButton {
  background-color: transparent;
  color: #ffffff !important;
  border: 1px solid #f8eded;
  font-size: small;
  border-radius: 15px;
  padding: 2px 1px;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth color change */
}

#signInButton:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

/* Navbar responsiveness styles */
@media (max-width: 768px) {
  .navbar-brand {
    margin-left: 15px;
    margin-right: 0;
  }

  .ml-md-auto {
    margin-left: 0 !important;
  }

  #darkModeToggle {
    margin-right: 15px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .navbar-nav .nav-link {
    margin-bottom: 10px;
    font-size: 14px; /* Adjust font size for small screens */
  }

  /* Set height of all sections to auto on screens with a max-width of 768px */
  #home,
  #price,
  #contact {
    height: auto;
    padding-top: 20px;
    margin-bottom: 40px; /* Add padding to separate sections */
  }

  #features .feature-item {
    width: 80%; /* Adjust the width as needed */
    margin-top: 60px /* Center the items */

  }

  #home .lead,
  #home .btn,
  #home .btn-link {
    width: auto; /* Set the button to auto width */
  }

  /* Adjust contact section layout */
  .contact-container {
    margin: 20px auto;
    margin-bottom: 55px;
    max-width: 50%; /* Set the max-width to 60% */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    color: #ffffff; /* Set text color for contact container */
  }

  .company-info {
    margin-left: 0; /* Adjust margin-left to 0 */
  }
}

/* Set height of all sections to 100vh on screens with a min-width of 769px */
@media (min-width: 769px) and (max-width: 1024px) {
  #home,
  #features,
  #price,
  #contact {
    height: 100vh;
    padding-top: 50px; /* Add padding to separate sections */
  }
}

/* Set height of all sections to 100vh on screens with a min-width of 1025px */
@media (min-width: 1025px) and (max-width: 1200px) {
  #home,
  #features,
  #price,
  #contact {
    height: 100vh;
    padding-top: 50px; /* Add padding to separate sections */
  }
}

/* Set height of all sections to 100vh on screens with a min-width of 1201px */
@media (min-width: 1201px) {
  #home,
  #features,
  #price,
  #contact {
    height: 100vh;
    padding-top: 50px; /* Add padding to separate sections */
  }
}

/* Pricing section styles for dark mode */
body.dark-mode .card-body,
body.dark-mode .card-body h1,
body.dark-mode .card-body ul,
body.dark-mode .card-body li,
body.dark-mode .card-header,
body.dark-mode .card-header h4 {
  color: #000000 !important;
  font-weight: bold !important;
}

/* Home Section Text and Links */
#home .text-body-emphasis,
#home .lead,
#home .btn,
#home .btn-link {
  color: #ffffff !important;
}

/* Footer Section Text and Links */
footer .text-body-secondary,
footer .link-secondary,
footer .link-body-emphasis {
  color: #ffffff !important;
}

/* Features Section H2 Text */
#features h2 {
  color: #ffffff !important;
}

/* Pricing Section H1 and P Text */
#price h1,
#price p {
  color: #ffffff !important;
}

/* Contact Section H4, Labels, and P Text */
#contact h4,
#contact label,
#contact p {
  color: #ffffff !important;
}

/* Contact section styles for screens with min-width 769px and max-width 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
  .contact-container {
    max-width: 100%; /* Reset max-width to 100% */
    margin: 20px auto;
    margin-bottom: 55px;
    padding: 20px;
  }
}

/* Button styles */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 25px;
  padding: 5px 20px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth color change */
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Footer styles */
.slim-input {
  width: 60%;
}

.btn-slim {
  width: 60%;
}

/* Center contents of each section */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
